a {
  text-decoration: none;
}

:root {
  --pink: #dc4f72;
  --black-light-text: #5a5a5a;
}

[data-bs-theme="dark"] {
  --bg-color: #131617;
  --bg-color-light: #191c1d;
}

[data-bs-theme="white"] {
  --bg-color: white;
  --bg-color-light: #f7f9fc;
}

#navbar {
  display: block;
  width: 500px;
  height: 500px;
  background-color: var(--bg-color);
}
